.main
  padding 4em 3em
  position relative
  overflow hidden
  &__inner
    position relative
  &__bg
    top -2560px
    left -1000px
    width 3000px
    height 3000px
    background #f9f9f9
    position absolute
    transform rotate(74deg)