.banner
  width 100%
  height 360px
  overflow hidden
  position relative
  z-index 1
  &_bg
    &_1
      background url('../img/bg-2.jpg') no-repeat
      background-size 100%
      background-attachment fixed
    &_2
      background url('../img/bg-3.jpg') no-repeat
      background-size 100%
      background-attachment fixed
  &__breadcrumbs
    top 54%
    left 50%
    color #fff
    font-size 18px
    line-height 1.111
    position absolute
    transform translateX(-50%)
