<aside class="sidebar">
  <ul class="list sidebar__list">
    <li class="list__item">
      <span class="sidebar__producer">IMMERGAS</span>
    </li>
    <li class="list__item list__item_active">
      <span class="sidebar__producer">ANGARA</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-1" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-1" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-2" class="checkbox__input" type="checkbox">
          <label for="pt-2" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-3" class="checkbox__input" type="checkbox">
          <label for="pt-3" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">BOSH</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">NAVIEN</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">SIBERIA</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">BUGATTI</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">Diva Ferrol</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">ITALTHERM</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">PROTEUS</span>
    </li>
  </ul>
</aside>


<script type="text/javascript">
  $(function () {
    'use strict';

    var $menu = $('.menu'),
        $page = $('.page');
    $('.page__menu-trigger').on('click', function (event) {
      $page.addClass('page_fixed');
      $menu.fadeIn();
    });
    $('.menu__closer').on('click', function (event) {
      $page.removeClass('page_fixed');
      $menu.fadeOut();
    });

    var $sidebar = $('.sidebar'),
        $slash = $('.main__bg'),
        wp1 = new Waypoint({
          element: document.querySelector('.main'),
          handler: function (direction) {
            if (direction === 'down') {
              $sidebar.css({
                position: 'fixed',
                top: '4em'
              });
              $slash.css({
                position: 'fixed'
              })
            } else if (direction === 'up') {
              $sidebar.css({
                position: 'static'
              });
              $slash.css({
                position: 'absolute',
              })
            }
          }
        }),
        wp2 = new Waypoint({
          element: document.querySelector('.order-form'),
          handler: function (direction) {
            if (direction === 'down') {
              $sidebar.css({
                position: 'absolute',
                top: 'auto',
                bottom: 0
              });
            } else if (direction === 'up') {
              $sidebar.css({
                position: 'fixed',
                top: '4em'
              });
            }
          },
          offset: function () {
            return $sidebar.height() + 128;
          }
        });
    $sidebar.parent().css({position: 'relative'})
  });
</script>