<aside class="sidebar">
  <ul class="list sidebar__list">
    <li class="list__item">
      <span class="sidebar__producer">IMMERGAS</span>
    </li>
    <li class="list__item list__item_active">
      <span class="sidebar__producer">ANGARA</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-1" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-1" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-2" class="checkbox__input" type="checkbox">
          <label for="pt-2" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-3" class="checkbox__input" type="checkbox">
          <label for="pt-3" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">BOSH</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">NAVIEN</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">SIBERIA</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">BUGATTI</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">Diva Ferrol</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">ITALTHERM</span>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">PROTEUS</span>
    </li>
  </ul>
</aside>