<aside class="sidebar">
  <ul class="list sidebar__list">
    <li class="list__item">
      <span class="sidebar__producer">IMMERGAS</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-11" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-11" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-12" class="checkbox__input" type="checkbox">
          <label for="pt-12" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-13" class="checkbox__input" type="checkbox">
          <label for="pt-13" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">ANGARA</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-21" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-21" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-22" class="checkbox__input" type="checkbox">
          <label for="pt-22" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-23" class="checkbox__input" type="checkbox">
          <label for="pt-23" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">BOSH</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-31" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-31" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-32" class="checkbox__input" type="checkbox">
          <label for="pt-32" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-33" class="checkbox__input" type="checkbox">
          <label for="pt-33" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">NAVIEN</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-41" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-41" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-42" class="checkbox__input" type="checkbox">
          <label for="pt-42" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-43" class="checkbox__input" type="checkbox">
          <label for="pt-43" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">SIBERIA</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-51" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-51" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-52" class="checkbox__input" type="checkbox">
          <label for="pt-52" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-53" class="checkbox__input" type="checkbox">
          <label for="pt-53" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">BUGATTI</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-61" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-61" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-62" class="checkbox__input" type="checkbox">
          <label for="pt-62" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-63" class="checkbox__input" type="checkbox">
          <label for="pt-63" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">Diva Ferrol</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-71" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-71" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-72" class="checkbox__input" type="checkbox">
          <label for="pt-72" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-73" class="checkbox__input" type="checkbox">
          <label for="pt-73" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">ITALTHERM</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-81" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-81" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-82" class="checkbox__input" type="checkbox">
          <label for="pt-82" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-83" class="checkbox__input" type="checkbox">
          <label for="pt-83" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
    <li class="list__item">
      <span class="sidebar__producer">PROTEUS</span>
      <ul class="list sidebar__checklist">
        <li class="list__item checkbox">
          <input id="pt-91" class="checkbox__input" type="checkbox" checked="">
          <label for="pt-91" class="checkbox__label">напольные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-92" class="checkbox__input" type="checkbox">
          <label for="pt-92" class="checkbox__label">настенные газовые котлы</label>
        </li>
        <li class="list__item checkbox">
          <input id="pt-93" class="checkbox__input" type="checkbox">
          <label for="pt-93" class="checkbox__label">газовые нагреватели</label>
        </li>
      </ul>
    </li>
  </ul>
</aside>


<script type="text/javascript">
  $(function () {
    'use strict';

    var $menu = $('.menu'),
        $header = $('.header'),
        $content = $('.page__content');
    $('.page__menu-trigger, .slider__menu-trigger').on('click', function (event) {
      $header.css('display', 'none');
      $content.addClass('page__content_blur');
      $menu.fadeIn();
    });
    $('.menu__closer').on('click', function (event) {
      $menu.fadeOut();
      $header.css('display', 'block');
      $content.removeClass('page__content_blur')
    });

    var $sidebar = $('.sidebar'),
        $slash = $('.main__bg'),
        $menuTrigger = $('.page__menu-trigger'),
        wp1 = new Waypoint({
          element: document.querySelector('.main'),
          handler: function (direction) {
            if (direction === 'down') {
              $sidebar.css({
                position: 'fixed',
                top: '144px'
              });
              $slash.css({
                position: 'fixed'
              });
              $menuTrigger.fadeIn();
            } else if (direction === 'up') {
              $sidebar.css({
                position: 'static'
              });
              $slash.css({
                position: 'absolute',
              });
              $menuTrigger.fadeOut();
            }
          },
          offset: 78
        }),
        wp2 = new Waypoint({
          element: document.querySelector('.order-form'),
          handler: function (direction) {
            if (direction === 'down') {
              $sidebar.css({
                position: 'absolute',
                top: 'auto',
                bottom: 0
              });
            } else if (direction === 'up') {
              $sidebar.css({
                position: 'fixed',
                top: '144px'
              });
            }
          },
          offset: function () {
            return $sidebar.height() + 206;
          }
        });
    $sidebar.parent().css({position: 'relative'});
    $sidebar.on('click', '.sidebar__producer', function (event) {
      var $item = $(this).parent(), oh = $(this).height();
      if ($item.hasClass('list__item_active')) {
        $item.removeClass('list__item_active');
        $item.animate({height: oh + 'px'}, 200);
      } else {
        var h = $item.find('.sidebar__checklist').height();
          $item.addClass('list__item_active');
        $item.animate({height: oh + h + 'px'}, 200);
      }
    });
  });
</script>