$bgColor = #5d5e5f

.footer
  font-size 20px
  background $bgColor
  &__menu
    width 100%
    margin 0
    padding 0
    display flex
    justify-content space-around
    list-style-type none
  &__link
    padding 1.125em 0
    color #fff
    opacity .21
    display block
    text-align center