$bgColor = #5d5e5f

.footer
  min-width 1200px
  padding 1.125em 0
  background $bgColor
  position relative
  font-size 20px
  &__menu
    width 100%
    margin 0
    display flex
    justify-content space-around
    list-style-type none
  &__link
    color #fff
    opacity .21
    display block
    line-height 1.4
    text-align center
    transition color .3s cubic-bezier(0.11, 0.7, 0, 1)
    position relative
    overflow hidden
    &:after
      content ''
      left 0
      bottom 0
      display block
      width 100%
      height 2px
      background-color #fff
      transform translate3d(-101%,0,0)
      transition transform .3s cubic-bezier(0.11, 0.7, 0, 1)
      position absolute
    &:hover:after
      transform translate3d(0,0,0)