.slider
  position relative
  &__item
    color #fff
  &__content
    top 0
    width 100%
    padding 0 3em
    position absolute
  &__image
    width 100%
    display block
    object-fit cover
  &__list
    display flex
    & > .list__item
      padding 0.07em 4em 0.6em 1.25em
      border-left 1px solid
      font-size 14px
      line-height 1.55
  &__title
    margin 0
    font-size 30px
    font-weight 600
    line-height 1.375
    text-transform uppercase
  &__description
    margin-top 1.05em
    margin-bottom 1.5em
    font-size 20px
    line-height 1.65