.slider
  position relative
  &__item
    color #fff
  &__content
    top 50%
    width 100%
    padding 0 3em
    position absolute
    transform translateY(-50%)
  &__image
    width 100%
    display block
    object-fit cover
  &__title
    margin-top 1em
    margin-bottom 0
    font-size 30px
    font-weight 600
    line-height 1.375
    text-transform uppercase
  &__description
    margin-top 1.05em
    margin-bottom 1.5em
    font-size 20px
    line-height 1.65