.article
  &__title
    margin-top 0
    font-size 18px
    font-weight bold
    text-transform uppercase
    &_pad
      margin-top 2em
      margin-bottom 0.5em
      height 3em
  &__preview
    margin 0
    font-size 14px
    line-height 1.6
  &__link
    color #5b9ecf
    border-bottom 1px solid
  &__pic
    width 255px
    height 178px
    object-fit cover
    display block
    &_full
      width 100%
  &_preview
    &_row
      margin-bottom 40px
    &_tile
      padding-right 2em