<section class="section order-form">
  <form class="order-form__form">
    <h2 class="order-form__title">Необходима помощь в подборе
газового оборудования?</h2>
    <input class="input" type="text" name="name">
    <input class="input" type="tel" name="phone">
    <label for="privacy-policy">
      <input id="privacy-policy" type="checkbox" name="">
      <span>Я принимаю условия пользовательского соглашения.</span>
    </label>
    <button class="button button_theme_snow order-form__submit">
      <span class="button__inner">Оставить заявку</span>
    </button>
  </form>
</section>