.header
  top 0
  left 0
  width 100%
  padding 0 3em
  padding-top 16px
  display block
  position fixed
  color #fff
  transition all 300ms ease-in
  z-index 1
  overflow hidden
  &_coal
    padding-top 0
    background rgba(52,54,55,0.8)
    & .header__layout
      opacity 1
  &__list
    margin-top 1em
    margin-left 7%
    display flex
    justify-content flex-end
    & > .list__item
      margin-right 6%
      padding 0.07em 0 0.6em 1.25em
      border-left 1px solid
      font-size 14px
      line-height 1.55
      &:last-of-type
        margin-right 0
  &__logo
    margin-top 0.125em
  &__basket-icon
    margin-top 2px
    margin-bottom 3px
  &__inner
    width 100%
    display flex
    align-items center
    position relative