.button
  font inherit
  color inherit
  text-align center
  text-decoration none
  display inline-block
  border none
  &_theme
    &_snow
      padding 0.62em 1.75em
      font-size 18px
      font-weight bold
      color #161426
      background #fff
      text-transform uppercase
      border-radius 1.75em
  &__inner
    display block