$fontColor = #343637

.page
  width 100%
  margin 0
  padding 0
  color $fontColor
  font 16px $fontLato
  &_fixed
    position fixed
  &__content
    width 100%
    display block
    &_blur
      filter url('#blur')
  &__menu-trigger
    top 300px
    right -63px
    width 223px
    height 98px
    padding-left 2.25em
    position fixed
    background #fff !important
    box-shadow -6.894px 5.785px 18px 0px rgba(0, 8, 6, 0.22)
    text-transform uppercase
    transform rotate(-90deg)
    & .button__inner
      top 0.625em
      right 0
      padding-left 0.5em
      padding-right 1.5em
      font-size 24px
      font-weight 600
      line-height 1.667
      position absolute
      background #fff
      display inline-block
    & .button__line
      top 1.7em
      width 80%
      position absolute
  &__subtitle
    font-size 30px
    font-weight 700
    text-transform uppercase
  &__loader
    padding-bottom 2em
    text-align center