@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900')

*
  box-sizing border-box

@import "../../common.blocks/page/page.styl"
@import "../../common.blocks/sidebar/sidebar.styl"
@import "../../common.blocks/button/button.styl"
@import "../../common.blocks/link/link.styl"
@import "../../common.blocks/order-form/order-form.styl"
@import "../../common.blocks/footer/footer.styl"