@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900')

*
  box-sizing border-box

@import "../../common.blocks/grid/grid.styl"
@import "../../common.blocks/page/page.styl"
@import "../../common.blocks/main/main.styl"
@import "../../common.blocks/catalogue/catalogue.styl"
@import "../../common.blocks/input/input.styl"
@import "../../common.blocks/button/button.styl"
@import "../../common.blocks/filter/filter.styl"
@import "../../common.blocks/link/link.styl"
@import "../../common.blocks/order-form/order-form.styl"
@import "../../common.blocks/footer/footer.styl"
@import "../../common.blocks/product/product.styl"
@import "../../common.blocks/list/list.styl"
@import "../../common.blocks/checkbox/checkbox.styl"
@import "../../common.blocks/sidebar/sidebar.styl"

@import "../../index.blocks/slider/slider.styl"
