.order-form
  color #fff
  background url('../img/bg-1.jpg') no-repeat
  background-size cover
  background-attachment fixed
  &__form
    width 960px
    margin 0 auto
    text-align left
    display inline-block
  &__title
    margin-top 0
    margin-bottom 2em
    font-size 30px
    font-weight bold
    text-transform uppercase
    line-height 1.35
  &__submit
    margin-top .5em
    float right