.order-form
  color #fff
  background url('../img/bg-1.jpg') no-repeat
  background-size cover
  background-attachment fixed
  &__form
    width 100%
    padding 3em 4em
    display block
    background rgba(0,0,0,.5)
  &__title
    font-size 30px
    font-weight bold
    text-transform uppercase
    line-height 1.35