<div class="grid__row">
  <div class="grid__col grid">
    <h3 class="page__subtitle">Рекомендуемые новости</h3>
    <div class="grid__row">
    <div class="grid__col grid__col_4">
      <div class="article article_preview_tile">
        <img class="article__pic article__pic_full" src="./img/a-1.jpg" alt="">
        <h4 class="article__title article__title_pad">Immergas или Bosh?</h4>
        <p class="article__paragraph">Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации.</p>
      </div>
    </div>
    <div class="grid__col grid__col_4">
      <div class="article article_preview_tile">
        <img class="article__pic article__pic_full" src="./img/a-2.jpg" alt="">
        <h4 class="article__title article__title_pad">Как выбрать газовый котел для дома</h4>
        <p class="article__paragraph">Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации.</p>
      </div>
    </div>
    <div class="grid__col grid__col_4">
      <div class="article article_preview_tile">
        <img class="article__pic article__pic_full" src="./img/a-1.jpg" alt="">
        <h4 class="article__title article__title_pad">Immergas или Bosh?</h4>
        <p class="article__paragraph">Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации.</p>
      </div>
    </div>
    </div>
  </div>
</div>