<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Статьи - Газовое оборудование</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="./css/main.min.css">

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/jquery.waypoints.min.js"></script>
  
</head>
<body class="page">

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="position: absolute;opacity: 0">
    <filter id="blur">
      <feGaussianBlur stdDeviation="8"/>
    </filter>
  </svg>

  <div class="page__content">

    <div id="slider" class="banner banner_bg_1">
      <div class="banner__inner">
        <h1 class="banner__title">Статьи</h1>
        <ul class="list breadcrumbs banner__breadcrumbs">
          <li class="breadcrumbs__item"><a class="link breadcrumbs__link" href="/">Главная</a></li>
          <li class="breadcrumbs__item">Статьи</li>
        </ul>
      </div>
      <button class="button slider__menu-trigger">
        <hr class="button__line button__line_white">
        <span class="button__inner">Меню</span>
      </button>
    </div>

    <main class="main grid">
      <div class="main__bg"></div>
      <div class="main__inner grid__row">
        <div class="grid__col grid__col_3">
          //= sidebar/sidebar.html
        </div>

        <div class="grid__col grid__col_9">
          <div class="grid">
            <div class="article article_preview_row grid__row grid__row_middle">
              <div class="grid__col grid__col_4 article__pic-wrap">
                <img class="article__pic" src="./img/a-1.jpg" alt="">
              </div>
              <div class="grid__col grid__col_8">
                <h4 class="article__title">Immergas или Bosh?</h4>
                <p class="article__preview">Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации. <a class="link article__link" href="articles-full.html">Читать дальше</a></p>
              </div>
            </div>
            <div class="article article_preview_row grid__row grid__row_middle">
              <div class="grid__col grid__col_4 article__pic-wrap">
                <img class="article__pic" src="./img/a-2.jpg" alt="">
              </div>
              <div class="grid__col grid__col_8">
                <h4 class="article__title">Как выбрать газовый котел для дома</h4>
                <p class="article__preview">Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации. <a class="link article__link" href="articles-full.html">Читать дальше</a></p>
              </div>
            </div>
            <div class="article article_preview_row grid__row grid__row_middle">
              <div class="grid__col grid__col_4 article__pic-wrap">
                <img class="article__pic" src="./img/a-1.jpg" alt="">
              </div>
              <div class="grid__col grid__col_8">
                <h4 class="article__title">Immergas или Bosh?</h4>
                <p class="article__preview">Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации. <a class="link article__link" href="articles-full.html">Читать дальше</a></p>
              </div>
            </div>
            <div class="article article_preview_row grid__row grid__row_middle">
              <div class="grid__col grid__col_4 article__pic-wrap">
                <img class="article__pic" src="./img/a-2.jpg" alt="">
              </div>
              <div class="grid__col grid__col_8">
                <h4 class="article__title">Как выбрать газовый котел для дома</h4>
                <p class="article__preview">Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации. <a class="link article__link" href="articles-full.html">Читать дальше</a></p>
              </div>
            </div>
            <div class="article article_preview_row grid__row grid__row_middle">
              <div class="grid__col grid__col_4 article__pic-wrap">
                <img class="article__pic" src="./img/a-1.jpg" alt="">
              </div>
              <div class="grid__col grid__col_8">
                <h4 class="article__title">Immergas или Bosh?</h4>
                <p class="article__preview">Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации. <a class="link article__link" href="articles-full.html">Читать дальше</a></p>
              </div>
            </div>
            <div class="page__loader">
              <button class="button button_theme_coal">
                <span class="button__inner">Все новости</span>
              </button>
            </div>

            //= recommendations/recommendations.html

          </div>
        </div>
      </div>
    </main>
    //= header/header.html
    //= order-form/order-form.html
    //= footer/footer.html
  </div>

  //= menu/menu.html

</body>
</html>