<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Статьи - Газовое оборудование</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="./css/main.min.css">

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/jquery.waypoints.min.js"></script>
  
</head>
<body class="page">

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="position: absolute;opacity: 0">
    <filter id="blur">
      <feGaussianBlur stdDeviation="8"/>
    </filter>
  </svg>

  <div class="page__content">

    <div id="slider" class="banner banner_bg_3">
      <div class="banner__inner">
        <h1 class="banner__title">Заголовок новости</h1>
        <ul class="list breadcrumbs banner__breadcrumbs">
          <li class="breadcrumbs__item"><a class="link breadcrumbs__link" href="/">Главная</a></li>
          <li class="breadcrumbs__item"><a class="link breadcrumbs__link" href="/articles.html">Статьи</a></li>
          <li class="breadcrumbs__item">Заголовок новости</li>
        </ul>
      </div>
      <button class="button slider__menu-trigger">
        <hr class="button__line button__line_white">
        <span class="button__inner">Меню</span>
      </button>
    </div>
    <main class="main grid">
      <div class="main__bg"></div>
      <div class="main__inner grid__row">
        <div class="grid__col grid__col_3">
          //= sidebar/sidebar.html
        </div>

        <div class="grid__col grid__col_9" style="position: relative;">
          <div class="grid article">
            <div class="article__content">
              <p class="article__announcement">Краткое описание всей новости, укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Товарищи! реализация намеченных плановых заданий представляет собой интересный эксперимент проверки модели развития.</p>

              <div class="article__pic_main">
                <img class="image" src="./img/a-3.jpg" alt="">
              </div>

              <p class="article__paragraph">Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития. </p>
              <p class="article__paragraph">Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации дальнейших направлений развития.</p>
              <p class="article__paragraph">Идейные соображения высшего порядка, а также новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке форм развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>

              <h3 class="article__subtitle">Подзаголовок</h3>
              <p class="article__paragraph">Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития.</p>

              <ul class="list list_checklist article__list">
                <li class="list__item">Не следует, однако забывать, что укрепление</li>
                <li class="list__item">И развитие структуры в значительной степени обуславливает создание дальнейших<br>направлений развития. </li>
                <li class="list__item">Идейные соображения высшего порядка, а также постоянный количественный рост </li>
                <li class="list__item">Сфера нашей активности требуют от нас анализа модели развития. </li>
              </ul>

              <p class="article__paragraph">Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития.</p>

              <p class="article__note">Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. </p>

              <p class="article__paragraph">Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития.</p>

              <div class="grid__row">
                <div class="grid__col grid__col_4 article__float-left">
                  <img class="image image_cover" src="./img/a-3.jpg" alt="">
                </div>

                <div class="grid__col grid__col_8 article__float-right">
                  <p class="article__paragraph">Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития.</p>
                  <p class="article__paragraph">Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации дальнейших направлений развития.. Равным образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации дальнейших направлений развития.</p>
                </div>
              </div>

              <p class="article__paragraph">Идейные соображения высшего порядка, а также новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке форм развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
            </div>

            <div class="article__tools">
              <button class="button button_theme_snow article__button">
                <span class="button__inner">предыдущая новость</span>
              </button>
              <button class="button button_theme_snow article__button">
                <span class="button__inner">следующая новость</span>
              </button>
            </div>

            //= recommendations/recommendations.html

          </div>
        </div>
      </div>
    </main>
    //= header/header.html
    //= order-form/order-form.html
    //= footer/footer.html
  </div>

  //= menu/menu.html

</body>
</html>