<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Контакты - Газовое оборудование</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="./css/main.min.css">

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/jquery.waypoints.min.js"></script>
  
</head>
<body class="page">
  
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="position: absolute;opacity: 0">
    <filter id="blur">
      <feGaussianBlur stdDeviation="8"/>
    </filter>
  </svg>

  <div class="page__content">

    <div id="slider" class="banner banner_bg_4">
      <div class="banner__inner">
        <h1 class="banner__title">Контакты</h1>
        <ul class="list breadcrumbs banner__breadcrumbs">
          <li class="breadcrumbs__item"><a class="link breadcrumbs__link" href="/">Главная</a></li>
          <li class="breadcrumbs__item">Контакты</li>
        </ul>
      </div>
      <button class="button slider__menu-trigger">
        <hr class="button__line button__line_white">
        <span class="button__inner">Меню</span>
      </button>
    </div>

    <main class="main grid">
      <div class="main__bg"></div>
      <div class="main__inner grid__row">
        <div class="grid__col grid__col_3">
          //= sidebar/sidebar.html
        </div>
        <div class="grid__col grid__col_9">
          <div class="contacts grid">
            <div id="map" class="contacts__map"></div>
            <div class="contacts__row grid__row">
              <div class="grid__col grid__col_6">
                <h3 class="contacts__subtitle">Мы находимся</h3>
                <div class="contacts__details grid__row">
                  <div class="grid__col grid__col_6">
                    <span>г. Ростов-на-Дону,</span><br>
                    <span>пр. Аксайский, 14, пав. 1Л</span>
                  </div>
                  <div class="grid__col grid__col_5 grid__offset grid__offset_1">
                    <span>без выходных:</span><br>
                    <span>c 09:00 до 17:00</span>
                  </div>
                </div>
              </div>
              <div class="grid__col grid__col_3">
                <h3 class="contacts__subtitle">Телефоны</h3>
                <div class="contacts__details">
                  <a class="link link_tel" href="tel:+78632767734">+7 (863) 276-77-34</a><br>
                  <a class="link link_tel" href="tel:+79282702511">+7 (928) 270-25-11</a>
                </div>
              </div>
              <div class="grid__col grid__col_3">
                <h3 class="contacts__subtitle">E-MAIL</h3>
                <div class="contacts__details">
                  <a class="link" href="mailto:2767734@mail.ru">2767734@mail.ru</a>
                </div>
              </div>
            </div>
            <div class="grid__row">
              <div class="grid__col grid__col_10">
                <p class="contacts__paragraph">Большой выбор котлов по выгодным ценам. Вы можете также приехать в наш магазин, и мы уже на месте подберем котел под ваши нужды. Гарантия столько-то лет.</p>
                <p class="contacts__paragraph">А также вы можете заказать у нас услуги монтирования газового оборудования.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    //= header/header.html
    //= order-form/order-form.html
    //= footer/footer.html
  </div>

  //= menu/menu.html

  <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  <script type="text/javascript">
    ymaps.ready(function () {
      var center = [47.275539, 39.831381];
      new ymaps.Map('map', {
        center: center, 
        controls: [],
        zoom: 14,
      }).geoObjects.add(
        new ymaps.Placemark(center)
      );
    });
  </script>

</body>
</html>