<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Главная - Газовое оборудование</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="./css/main.min.css">

  <script>var amo_forms_params = {"id":219715,"hash":"7ddd4e406330e77456df4134271a1c3f","locale":"ru"};</script><script id="amoforms_script" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js"></script>

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/jquery.waypoints.min.js"></script>
  
</head>
<body class="page">
  
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="position: absolute;opacity: 0">
    <filter id="blur">
      <feGaussianBlur stdDeviation="8"/>
    </filter>
  </svg>

  <div class="page__content">
    <div id="slider" class="slider">
      <div class="slider__item slider__item_active">
        <img class="slider__image" src="./img/s-1.jpg" alt="">
        <div class="slider__content grid">
          <div class="grid__offset grid__offset_1">
            <h1 class="slider__title">Зима. Холод.<br>Нету горячей воды.</h1>
            <p class="slider__description">Звучит как самый ужасный день?<br>Забудьте о ужасных днях, вместе с<br>нашими  котлами!</p>
            <button class="button button_theme_snow">Выбрать котел</button>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <img class="slider__image" src="./img/s-1.jpg" alt="">
        <div class="slider__content grid">
          <div class="grid__offset grid__offset_1">
            <h1 class="slider__title">Slide 2</h1>
            <p class="slider__description">Звучит как самый ужасный день?<br>Забудьте о ужасных днях, вместе с<br>нашими  котлами!</p>
            <button class="button button_theme_snow">Выбрать котел</button>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <img class="slider__image" src="./img/s-1.jpg" alt="">
        <div class="slider__content grid">
          <div class="grid__offset grid__offset_1">
            <h1 class="slider__title">Slide 3</h1>
            <p class="slider__description">Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit.<br>Debitis rem facere doloribus </p>
            <button class="button button_theme_snow">Выбрать котел</button>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <img class="slider__image" src="./img/s-1.jpg" alt="">
        <div class="slider__content grid">
          <div class="grid__offset grid__offset_1">
            <h1 class="slider__title">Slide 4</h1>
            <p class="slider__description">Delectus, reiciendis ipsum itaque placeat,<br> eveniet perferendis vel molestiae impedit magnam.<br> Sapiente, distinctio. Laboriosam accusamus <br>odio architecto minus.</p>
            <button class="button button_theme_snow">Выбрать котел</button>
          </div>
        </div>
      </div>
      <div class="slider__pointers">
        <span style="left:-18px" class="slider__match slider__match_active"></span>
        <span style="left:-6px" class="slider__match"></span>
        <span style="left: 6px" class="slider__match"></span>
        <span style="left: 18px" class="slider__match"></span>
      </div>
      <a class="link link_location slider__location" href="#">Ростов-на-Дону</a>
    </div>

<script type="text/javascript">
  $(function () {
    'use strict';
    var slider = {
      defaults: {
        active: 0,
        prev: 0,
        src: '.slider'
      },
      init: function (options) {
        $.extend(this, this.defaults, options || {});
        this.$el = $(this.src || this.el).first();
        this.$items = this.$el.find('.slider__item');
        this.$match = this.$el.find('.slider__match');
        this.count = this.$items.length;
        return this;
      },
      switch: function (number) {
        number = number % this.count;
        this.prev = this.active;
        this.active = number;
        this.$items.eq(this.prev).removeClass('slider__item_active');
        this.$match.eq(this.prev).removeClass('slider__match_active');
        this.$items.eq(this.active).addClass('slider__item_active');
        this.$match.eq(this.active).addClass('slider__match_active');
        return this;
      },
      start: function () {
        var self = this;
        this.timeId = setInterval(function () {
          self.switch(self.active + 1);
        }, 7000);
        return this;
      },
      stop: function () {
        this.timeId && clearInterval(this.timeId);
        return this;
      }
    };

    slider.init().start();

    $(window).blur(function (event) {
      slider.stop();
    });
    $(window).focus(function (event) {
      slider.stop().start();
    });

    window.slider = slider;

  });  
</script>

    <main class="main grid">
      <div class="main__bg"></div>
      <div class="main__inner grid__row">
        <div class="grid__col grid__col_3">
          //= sidebar/sidebar.html
        </div>
        <div class="grid__col grid__col_9">
          <div class="catalogue grid">
            <div class="catalogue__search-bar filter grid__row">
              <div class="filter__input grid__col grid__col_4">
                <input class="input input_search" type="text" name="catalogue-search" placeholder="поиск">
              </div>
              <div class="filter__items grid__col grid__col_8">
                <span class="filter__label">Сортировать по:</span>
                <ul class="list filter__list">
                  <li class="list__item">
                    <button class="button filter__button">
                      <span class="button__inner button__inner_dashed">Типу котла</span>
                    </button>
                  </li>
                  <li class="list__item">
                    <button class="button filter__button">
                      <span class="button__inner button__inner_dashed">Бо бренду</span>
                    </button>
                  </li>
                  <li class="list__item">
                    <button class="button filter__button">
                      <span class="button__inner button__inner_dashed">По мощности</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="catalogue__products grid__row">
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-1.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Nike MINI 28 kW<br>Special</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-2.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Напольные котлы<br>Ангара-Люкс</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-3.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Газовые колонки<br>Ангара-Люкс</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-1.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Nike MINI 28 kW<br>Special</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-2.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Напольные котлы<br>Ангара-Люкс</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-3.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Газовые колонки<br>Ангара-Люкс</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-1.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Nike MINI 28 kW<br>Special</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-2.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Напольные котлы<br>Ангара-Люкс</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
              <div class="catalogue__item grid__col grid__col_4">
                <div class="product">
                  <div class="product__tile">
                    <div class="product__header">
                      <hr class="product__line">
                      <span class="product__label">Быстрый заказ</span>
                    </div>
                    <img class="product__image" src="./img/c-3.jpg" alt="">
                    <div class="product__details">
                      <ul class="list list_checklist product__list">
                        <li class="list__item">открытая камера сгорания</li>
                        <li class="list__item">отопительная площадь от 30-280 м2</li>
                        <li class="list__item">газовый конвекционный котел</li>
                        <li class="list__item">мощность 27.9 кВт</li>
                        <li class="list__item">двухконтурный</li>
                        <li class="list__item">КПД 90.3 %</li>
                      </ul>
                    </div>
                    <div class="product__tools">
                      <span class="product__price">12 452</span>
                      <a class="link product__link" href="#">Все характеристики</a>
                      <button class="button product__button">
                        <span class="button__icon">+</span>
                      </button>
                    </div>
                  </div>
                  <p class="product__name">Газовые колонки<br>Ангара-Люкс</p>
                  <p class="product__vendor-code">Арт. 845-874-567</p>
                </div>
              </div>
            </div>
            <div class="catalogue__loader">
              <button class="button button_theme_coal">
                <span class="button__inner">Больше котлов</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    //= header/header.html
    //= order-form/order-form.html
    //= footer/footer.html
  </div>

  //= menu/menu.html

</body>
</html>