<button class="button page__menu-trigger">
  <hr class="button__line">
  <span class="button__inner">Меню</span>
</button>

<div class="menu">
  <div class="menu__inner grid">
    <div class="grid__row grid__row_middle">
      <div class="grid__col grid__col_3 grid__offset grid__offset_1">
        <ul class="list menu__list">
          <li class="list__item">
            <a class="link list__link" href="#">Каталог</a>
          </li>
          <li class="list__item">
            <a class="link list__link" href="#">Статьи</a>
          </li>
          <li class="list__item">
            <a class="link list__link" href="#">Контакты</a>
          </li>
          <li class="list__item">
            <a class="link list__link" href="#">Корзина</a>
          </li>
      </div>
      <div class="grid__col grid__col_6 grid__offset grid__offset_1">
        <div class="grid__row">
          <div class="grid__col grid__col_6">
            <h3 class="menu__subtitle">Мы находимся</h3>
            <span>г. Ростов-на-Дону,</span><br>
            <span>пр. Аксайский, 14, пав. 1Л</span><br><br>
            <span>без выходных:</span><br>
            <span>c 09:00 до 17:00</span>
          </div>
          <div class="grid__col grid__col_6">
            <h3 class="menu__subtitle">телефоны</h3>
            <a class="link" href="tel:+78632767734">+7 (863) 276-77-34</a><br>
            <a class="link" href="tel:+79282702511">+7 (928) 270-25-11</a>
          </div>
        </div>
      </div>
    </div>
    <button class="button menu__closer"></button>
  </div>
</div>