.input
  cursor text
  outline none
  &_search
    width 100%
    padding 1rem 1.85rem
    border none
    display block
    font-style italic
    &::placeholder
      color #343637
      opacity .55
  &_transparent
    width 90%
    padding 0.65em
    padding-top 0
    font-size 20px
    font-weight 500
    display block
    background none
    border none
    border-bottom 2px solid
    color #fff
    &::placeholder
      color #fff