.link
  color inherit
  cursor pointer
  text-decoration none
  &_location
    color #fff
    font-size 20px
    border-bottom 1px dashed
    &:before
      content ''
      top -5px
      left -34px
      width 23px
      height 31px
      background url('../img/location.png') no-repeat
      position absolute
      